.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 2em;
}
.content .banner {
  display: flex;
  justify-content: space-around;
}
.content .banner img {
  width: 70%;
  height: 150px;
  object-fit: scale-down;
  object-position: center;
}
.content .form {
  position: absolute;
  top: 200px;
  background: #c8c8ff;
  padding: 20px;
  border-radius: 40px;
  border: 20px #fff solid;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .form img {
  width: 100px;
}
.content .form .group {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.content .form .group label {
  font-size: 0.7em;
  margin: 5px 0;
}
.content .form input, .content .form button {
  font-size: 0.6em;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 17px;
  width: 250px;
  border: 0 solid;
  border-radius: 50px;
  transition: all 0.3s;
}
.content .form input:hover, .content .form input:focus, .content .form button:hover, .content .form button:focus {
  background: rgba(255, 255, 255, 0.5);
}
.content .form button[type=submit] {
  cursor: pointer;
  background: #fff;
  border: 2px #88F solid;
  color: #88F;
  width: 120px;
  align-self: flex-end;
}
.content .form button[type=submit]:hover {
  border: 2px #fff solid;
  color: #fff;
  background: #88F;
}
.content .banner {
  height: 300px;
  background: #FFF;
  border-bottom: 1em #88F solid;
  width: 100%;
}
.content .ibox {
  font-size: 0.5em;
  text-align: center;
  padding: 10px 30px;
  margin: 5px 0;
  border-radius: 5px;
  transform: scale(0), rotate(360);
  transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

/* Normalizer */
body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
