.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2em;

    .banner{
        display: flex;
        justify-content: space-around;

        img{
            width: 70%;
            height: 150px;
            object-fit: scale-down;
            object-position: center;
        }
    }

    .form{
        position: absolute;
        top: 200px;
        background: rgb(200, 200, 255);
        padding: 20px;
        border-radius: 40px;
        border: 20px #fff solid;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 100px;
        }

        .group{
            display: flex;
            flex-direction: column;
            margin: 15px;

            label{
                font-size: .7em;
                margin: 5px 0;
            }
        }

        input, button{
            font-size: .6em;
            background: rgba(0,0,0,.5);
            padding: 10px 17px;
            width: 250px;
            border: 0 solid;
            border-radius: 50px;
            transition: all .3s;

            &:hover, &:focus{
                background: rgba(255, 255, 255, 0.5);
            }
        }

        button[type=submit] {
            cursor: pointer;
            background: #fff;
            border: 2px #88F solid;
            color: #88F;
            width: 120px;
            align-self: flex-end;

            &:hover{
                border: 2px #fff solid;
                color: #fff;
                background: #88F;
            }
        }

    }

    .banner{
        height: 300px;
        background: #FFF;
        border-bottom: 1em #88F solid;
        width: 100%;
    }

    .ibox{
        font-size: .5em;
        text-align: center;
        padding: 10px 30px;
        margin: 5px 0;
        border-radius: 5px;
        transform: scale(0), rotate(360);
        transition: transform .3s, color .3s, background-color .3s;
    }
}
/* Normalizer */
body{
    margin: 0;
    padding: 0;
}